.movies {
    margin: 0 70px 0;
}

@media screen and (max-width: 769px) {
    .movies {
        margin: 0 23px 0;
    }
}

@media screen and (max-width: 651px) {
    .movies {
        margin: 0 10px 0;
    }
}