.movies {
    margin: 0 70px 0;
}

@media screen and (max-width: 769px) {
    .movies {
        margin: 0 32px 0;
    }
}

@media screen and (max-width: 651px) {
    .movies {
        margin: 0 11px 0;
    }
}