.profile {
    color: white;
    margin: 0 auto;
    padding: 0;
}

.profile__title {
    margin: 74px auto 123px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: 410px;
    min-width: 260px;
}

.profile__field {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    padding: 0 0 16px;
    margin: 0 0 17px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__field:nth-child(2) {
    padding: 0;
    margin: 0 0 220px;
    border-bottom: 0;
}

.profile__input {
    width: 87%;
    background: 0;
    border: 0;
    margin: 0;
    padding: 1px;
    text-align: right;
    color: white;
    outline: none;
}

.profile__input:focus {
    transition: .3s;
    background-color: rgb(46, 45, 45);
    border-radius: 7px;
    padding: 2px 0 2px;
}

.profile__input-name {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.profile__input-error {
    color: rgba(255, 0, 76, 1);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: center;
    padding: 0;
    margin: 0 0 20px;
}

.profile__button {
    transition: .3s;
    cursor: pointer;
    background: 0;
    outline: 0;
    border: 0;
    text-align: center;
    letter-spacing: 0px;
    line-height: 16px;
    font-size: 13px;
}

.profile__button:hover {
    opacity: .7;
    transition: .3s;
}

.profile__edit-btn {
    color: white;
    font-weight: 400;
    line-height: 16px;
}

.profile__edit-btn_inactive {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: rgb(83, 83, 83);
}

.profile__signout-btn {
    margin: 15px 0 0;
    text-decoration: none;
    color: rgba(238, 52, 101, 1);
    font-weight: 500;
}

@media screen and (max-width: 769px) {
    .profile {
        margin: 236px auto 10vh;
    }

    .profile__title {
        margin: 55px auto 97px;
    }

    .profile__field:nth-child(2) {
        margin: 0px 0 209px;
    }
}

@media screen and (max-width: 651px) {
    .profile {
        margin: 0 30px 10vh;
    }

    .profile__form {
        max-width: 260px;
    }

    .profile__title {
        margin: 67px auto 83px;
    }

    .profile__field:nth-child(2) {
        margin: 0 0 377px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 15px;
    }
}