.project {
    color: white;
    margin: 0 70px 110px;
    padding-top: 112px;
    background-color: rgba(32, 32, 32, 1);
}

.section__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding: 0 0 23px;
    letter-spacing: -0.04em;
}

.project__description {
    margin: 70px auto 110px;
    padding: 0;
    display: flex;
}

.description__item {
    text-align: left;
    margin: 0 54px 0 0;
    padding: 0;
    list-style-type: none;
}

.description__item:nth-last-child(1) {
    margin: 0;
}

.description__brief {
    margin: 0 0 24px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
}

.description__paragraph {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

.project__graph {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto;
}

.graph__item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.graph__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin: 0;
    height: 36px;
    letter-spacing: -0.04em;
}

.graph__title_color-green {
    color: black;
    background-color: rgba(61, 220, 132, 1);
}

.graph__title_color-black {
    color: white;
    background-color: rgba(48, 48, 48, 1);
}

.graph__description {
    margin: 14px auto 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(139, 139, 139, 1);
}


@media screen and (max-width: 769px) {
    .project {
        margin: 0 45px 90px;
        padding-top: 90px;
    }

    .project__description {
        margin: 70px auto 92px;
    }

    .description__item {
        margin: 0 40px 0 0;
    }

    .description__brief {
        font-size: 20px;
        line-height: 24.2px;
    }

    .description__paragraph {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 651px) {
    .section__title {
        padding: 0 0 28px;
    }

    .project {
        margin: 0 18px 70px;
        padding-top: 75px;
    }

    .project__description {
        flex-direction: column;
        margin: 60px auto 60px;
    }

    .description__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 56px;;
    }

    .description__brief {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .description__paragraph {
        font-size: 11px;
        line-height: 16px;
    }

    .graph__title {
        font-size: 11px;
        line-height: 13px;
    }

    .graph__description {
        font-size: 11px;
        line-height: 13px;
    }

    .project__graph {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 35% auto;
    }

    .section__title {
        font-size: 18px;
        line-height: 22px;
    }
}