.project {
    color: white;
    margin: 100px 70px 100px;
    background-color: rgba(32, 32, 32, 1);
}
.section__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding: 0 0 23px;
}

.project__description {
    margin: 70px auto 110px;
    padding: 0;
    display: flex;
}

.description__item {
    text-align: left;
    margin: 0 40px 0 0;
    padding: 0;
    list-style-type: none;
}

.description__item:nth-last-child(1) {
    margin: 0;
}

.description__brief {
    margin: 0 0 26px;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.description__paragraph {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.project__graph {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto;
}  

.graph__item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.graph__title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    height: 36px;
}

.graph__title_color-green {
    color: black;
    background-color: rgba(61, 220, 132, 1);
}

.graph__title_color-black {
    color: white;
    background-color: rgba(48, 48, 48, 1);
}

.graph__description {
    margin: 14px auto 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color:rgba(139, 139, 139, 1);
}