.nav {
    background-color: rgba(32, 32, 32, 1);
}

.nav__theme-default {
    background-color: rgba(7, 48, 66, 1);
}

.nav__links {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    margin: 0 16px 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: white;
    text-decoration: none;
    text-align: center;
    background: none;
    cursor: pointer;
}

.nav__link:nth-last-child(1) {
    margin: 0;
}

.nav__link.active::after {
    content: '';
    display: block;
    border-bottom: 2px solid white;
}

.nav__link-profile {
    display: grid;
    grid-template-columns: 53px 26px;
    align-items: center;
    column-gap: 7px;
}

.nav__link-profile.active::after {
    display: none;
}

.link__profile-logo {
    background-color: rgba(49, 49, 49, 1);
    background-image: url('../../images/profile__logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 26px;
    min-height: 26px;
    border-radius: 20px;
}

.movies__links {
    display: flex;
    align-items: center;
}