.movies-cards {
    margin: 80px auto 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 37px;
}

@media screen and (max-width: 769px) {
    .movies-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 80px auto 0;
        padding: 0;
    }
}

@media screen and (max-width: 651px) {
    .movies-cards {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 14px;
        margin: 50px auto 0;
        padding: 0;
    }
}