.portfolio {
    margin: 100px 70px 0;
    padding: 0 0 125px;
}

.portfolio__title {
    margin: 0 0 50px;
    padding: 0;
    color: rgba(139, 139, 139, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
    text-align: left;
}

.project__item {
    padding: 0 0 19px;
    margin: 0 0 20px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.project__item:nth-last-child(1) {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.project__link {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.project__name {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.link__image {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 769px) {
    .portfolio {
        margin: 90px 50px 0;
        padding: 0 0 90px;
    }

    .project__name {
        font-size: 28px;
        line-height: 50px;
    }
}

@media screen and (max-width: 651px) {
    .portfolio {
        margin: 70px 14px 0;
        padding: 0 0 70px;
    }

    .project__name {
        font-size: 18px;
        line-height: 28px;
    }
}