.saved-movies {
    margin: 0 70px 248px;
}

@media screen and (max-width: 769px) {
    .saved-movies {
        margin: 0 30px 172px;
    }
}

@media screen and (max-width: 651px) {
    .saved-movies {
        margin: 0 14px 163px;
    }
}