.tech {
    padding: 100px 0 100px;
    background-color: rgba(39, 39, 39, 1);
    margin: 0;
}

.tech__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding: 0 0 23px;
    letter-spacing: -0.04em;
}

.tech__container {
    margin: 0 70px 0;
    padding: 0;
}

.tech__subtitle {
    margin: 90px 0 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
}

.tech__brief {
    margin: 26px auto 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    max-width: 460px;
}

.tech__stack {
    display: flex;
    justify-content: center;
    margin: 97px 0 0;
    padding: 0;
}

.tech__stack-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(48, 48, 48, 1);
    margin: 0 7px 0 0;
    padding: 0;
    width: 93px;
    height: 60px;
    border-radius: 10px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
}

.tech__stack-name:nth-last-child(1) {
    margin: 0;
}

@media screen and (max-width: 769px) {
    .tech {
        padding: 90px 0 90px;
    }

    .tech__title {
        font-size: 22px;
        line-height: 27px;
    }

    .tech__subtitle {
        margin-top: 80px;
    }

    .tech__container {
        margin: 0 51px 0;
    }

    .tech__brief {
        margin-top: 24px;
        font-size: 12px;
        line-height: 18px;
        font-size: 12px;
        line-height: 18px;
    }

    .tech__stack {
        margin-top: 83px;
    }

    .tech__stack-name {
        font-size: 12px;
        line-height: 15px;
        max-width: 85px;
        margin-right: 9px;
        height: 57px;
    }
}

@media screen and (max-width: 651px) {
    .tech {
        padding: 69px 0 70px;
        margin: 0;
    }
    
    .tech__title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px;
    }

    .tech__brief {
        font-size: 11px;
        line-height: 16px;
    }

    .tech__container {
        margin: 0 18px 0;
        padding: 0;
    }

    .tech__subtitle {
        margin: 60px 0 0;
        font-size: 30px;
        line-height: 36px;
    }

    .tech_brief {
        font-size: 11px;
        line-height: 16px;
    }

    .tech__stack {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 12px;
    }

    .tech__stack-name {
        margin: 0;
        width: 85px;
        height: 55px
    }
}