.navtab {
    display: flex;
    background-color: rgba(39, 39, 39, 1);
}

.navtab__navigation {
    margin: 24px auto 24px;
}

.navtab__link {
    margin: 0 40px 0 0;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    background: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
}

.navtab__link:nth-last-child(1) {
    margin: 0;
}

@media screen and (max-width: 651px) {
    .navtab__link {
        font-size: 11px;
        margin: 0 25px 0 0;
    }
}