.burgermenu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu {
    position: fixed;
    opacity: 0;
    transition: 0.5s;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}


.menu__opened {
    opacity: 1;
    visibility: visible;
}

.menu__links {
    padding: 159px 0 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    height: 100%;
    width: 68%;
    top: 0;
    right: 0;
    background: rgba(32, 32, 32, 1);
}

.menu__links_type-mobile {
    width: 100%;
}

.menu__link {
    margin: 0 0 27px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.menu__link.active::after {
    content: '';
    display: block;
    border-bottom: 2px solid white;
}

.menu__link:nth-last-child(1) {
    margin: 0;
}

.menu__link-profile {
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0px;
    display: grid;
    grid-template-columns: max-content 22px;
    position: absolute;
    align-items: center;
    bottom: 32.4%;
}

.menu__link-profile--image {
    background-color: rgba(49, 49, 49, 1);
    background-image: url('../../images/profile__logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 26px;
    min-height: 26px;
    border-radius: 20px;
    margin-left: 8px;
}

.burgermenu-btn {
    z-index: 999;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.4s ease;
}

.burgermenu-btn_active {
    position: fixed;
}

/* @media screen and (max-width: 769px) {
    .burgermenu-btn--span {
        display: block;
        margin: 0;
        position: absolute;
        width: 27px;
        height: 2.5px;
        transition: 0.2s;
        background-color: white;
    }

    .burgermenu-btn--span:nth-child(1) {
        right: 8px;
        top: 3px;
    }

    .burgermenu-btn--span:nth-child(2) {
        right: 8px;
        top: 13px
    }

    .burgermenu-btn--span:nth-child(3) {
        right: 8px;
        top: 23px
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(2) {
        opacity: 0;
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
} */

@media screen and (max-width: 769px) {
    .burgermenu-btn--span {
        display: block;
        margin: 0;
        position: absolute;
        width: 27px;
        height: 2.5px;
        transition: 0.2s;
        background-color: white;
    }

    .burgermenu-btn--span:nth-child(1) {
        right: 8px;
        top: 3px;
    }

    .burgermenu-btn--span:nth-child(2) {
        right: 8px;
        top: 13px
    }

    .burgermenu-btn--span:nth-child(3) {
        right: 8px;
        top: 23px
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(2) {
        opacity: 0;
        right: -3px;
        top: 13px;
        width: 22px;
        height: 2.5px;
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(1) {
        transform: translateY(9px) rotate(46deg);
        right: -3px;
        top: 5px;
        width: 22px;
        height: 2.5px;
    }

    .burgermenu-btn_active .burgermenu-btn--span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        right: -3px;
        top: 23px;
        width: 22px;
        height: 2.5px;
    }
}

@media screen and (max-width: 651px) {
    .burgermenu-btn--span {
        display: block;
        margin: 0;
        position: absolute;
        width: 22px;
        height: 2.5px;
        transition: 0.2s;
        background-color: white;
    }

    .menu__links {
        padding: 153px 0 0;
    }

    .menu__link {
        margin: 0 0 22px;
    }

    .menu__link:nth-last-child(1) {
        margin-bottom: 235px;
    }
}