.film {
    display: grid;
    grid-template-areas:
        'image'
        'info';
    max-width: 364px;
    border-radius: 6px;
    color: white;
    background-color: rgba(34, 34, 34, 1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.film__link {
    text-decoration: none;
    color: inherit;
}

.film__image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 203px;
    object-fit: cover;
}

.film__info {
    grid-area: info;
    display: grid;
    row-gap: 3px;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    align-items: start;
    margin: 14px 18px auto;
    padding-bottom: 15px;
    list-style-type: none;
}

.film__title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.film__like-btn {
    transition: .4s;
    padding: 0;
    margin: 0;
    cursor: pointer;
    min-width: 26px;
    min-height: 30px;
    outline: none;
    border: none;
    background: none;
    background-image: url('../../../images/like__button-incative.svg');
    background-repeat: no-repeat;
    background-position: top;
}

.film__like-btn:hover {
    opacity: 0.3;
}

.film__like-btn_active {
    background-image: url('../../../images/like__button.svg');
}

.film__delete-btn {
    transition: .4s;
    padding: 0;
    margin: 0;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: none;
    background-size: 6.84px 8.72px;
    background-image: url('../../../images/like-btn_remove.svg');
    background-repeat: no-repeat;
    background-position: top;
}

.film__delete-btn:hover {
    opacity: .5;
}

.film__duration {
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 769px) {
    .film {
        max-width: 300px;
    }

    .film__image {
        height: 188px;
    }

    .film__info {
        padding-bottom: 10px;
        margin: 14px 15px auto;
    }
}

@media screen and (max-width: 651px) {
    .film {
        min-width: 300px;
    }

    .film__image {
        max-width: 300px;
        height: 165px;
    }


    .film__title {
        font-size: 12px;
        line-height: 15px;
    }

    .film__duration {
        font-size: 10px;
        line-height: 12px;
    }
}