.film {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'image image'
        'info info';
    max-width: 364px;
    border-radius: 6px;
    color: white;
    background-color: rgba(34, 34, 34, 1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
}

.film__image {
    border-radius: 6px;
    justify-self: center;
    padding: 0;
    margin: 0;
    grid-area: image;
    width: 100%;
    object-fit: cover;
}

.film__info {
    grid-area: info;
    display: grid;
    grid-template-columns: max-content 26px;
    justify-content: space-between;
    align-content: center;
    margin: 15px 18px 0;
    padding-bottom: 20px;
}

.film__title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.film__like-btn {
    transition: .4s;
    padding: 0;
    margin: 0;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    outline: none;
    border: none;
    background: none;
    background-image: url('../../../images/like__button-incative.svg');
    background-repeat: no-repeat;
    background-position: top;
}

.film__like-btn:hover {
    background-color: rgba(43, 224, 128, 1);
    background-image: url('../../../images/like-bookmark_active.svg');
    opacity: 0.3;
}

.film__like-btn_active {
    background-image: url('../../../images/like__button.svg');
}

.film__delete-btn {
    transition: .4s;
    padding: 0;
    margin: 0;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    outline: none;
    border: 1px solid grey;
    border-radius: 20px;
    background: none;
    background-size: 10px 13px;
    background-image: url('../../../images/like-btn_remove.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.film__delete-btn:hover {
    opacity: .5;
}

.film__duration {
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 769px) {
    .film {
        max-width: 339px;
    }
}

@media screen and (max-width: 651px) {
    .film {
    }
}