.auth {
    max-width: 396px;
    color: white;
    margin: 70px auto 40px;
}
.auth__logo {
    max-width: 36px;
    margin: 0 0 40px;
    padding: 0;
}
.auth__title {
    margin: 0 0 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}
.auth__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.auth__field {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 10px;
}
.auth__field:nth-last-child(1) {
    margin: 0;
}
.auth__input_name {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(139, 139, 139, 1);
    margin: 0 0 10px;
}
.auth__input {
    color: white;
    padding: 0 10px 0;
    margin: 0 0 10px;
    border-radius: 8px;
    min-height: 46px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    background-color: rgba(47, 47, 47, 1);
    border: none;
    outline: 0;
}
.auth__input-error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.auth__submit-btn {
    margin: 69px 0 0;
    cursor: pointer;
    border-radius: 3px;
    min-height: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    background-color: rgba(66, 133, 244, 1);
    color: white;
    outline: none;
    border: none;
}
.auth__signin {
    padding: 0;
    margin: 16px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.auth__text{
    margin: 0 6px 0 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(139, 139, 139, 1);
}
.auth__signin-link {
    color: rgba(66, 133, 244, 1);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}
.auth__input_type-name {
}
.auth__input-error_type-name {
}
.auth__input_type-email {
}
.auth__input_type-password {
}