.about {
    margin: 112px 70px 0;
}

.about__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding: 0 0 23px;
    letter-spacing: -0.04em;
}

.about__person {
    display: grid;
    grid-template-areas:
        "name photo"
        "about photo"
        "carrer photo"
        "website photo";
    margin: 66px 0 0;
    padding: 0;
}

.about__person-name {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
}

.about__person-about {
    margin: 0;
    padding: 0;
    grid-area: about;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.about__person-carrer {
    margin: 0;
    padding: 0;
    grid-area: carrer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 600px;
}

.about__person-website {
    margin: 0;
    padding: 0;
    align-self: end;
    grid-area: website;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.about__person-photo {
    grid-row: 1/2;
    grid-area: photo;
    align-self: end;
    justify-self: end;
    border-radius: 10px;
    max-width: 270px;
    min-height: 327px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .about {
        margin: 87px 45px 0;
    }

    .about__person-name {
        font-size: 40px;
        line-height: 40px;
    }

    .about__person-carrer {
        font-size: 12px;
        line-height: 18px;
    }

    .about__person-about {
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
    }

    .about__person-phoyo {
        max-width: 255px;
        min-height: 307px;
    }
}

@media screen and (max-width: 651px) {
    .about {
        margin: 0 16px 20px;
        padding-top: 75px;
    }
    
    .about__title {
        padding: 0 0 28px;
    }

    .about__person {
        margin: 60px auto 0;
        grid-template-areas:
            "photo"
            "name"
            "about"
            "carrer"
            "website";
        gap: 20px;
    }

    .about__person-name {
        margin: 0;
        font-size: 30px;
        line-height: 36px;
    }

    .about__person-about {
        margin: 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about__person-carrer {
        margin: 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about__person-photo {
        justify-self: center;
        min-width: 100%;
        margin: 0 0 20px;
        min-height: 352px;
    }
}