.about {
    margin: 0 70px 0;
}

.about__person {
    column-gap: 18.75%;
    display: grid;
    grid-template-areas:
        "name photo"
        "about photo"
        "carrer photo"
        "website photo";
    margin: 66px 0 0;
    padding: 0;
}

.person__name {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
}

.person__about {
    grid-area: about;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.person__carrer {
    grid-area: carrer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.person__website {
    align-self: end;
    grid-area: website;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.person__photo {
    grid-row: 1/2;
    grid-area: photo;
    align-self: end;
    ;
    justify-self: end;
    border-radius: 10px;
    max-width: 270px;
    min-height: 327px;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .about {
        margin: 0 50px 0;
    }

    .person__name {
        font-size: 40px;
        line-height: 40px;
    }

    .person__carrer {
        font-size: 12px;
        line-height: 18px;
    }

    .person__about {
        font-size: 12px;
        line-height: 18px;
    }

    .person__photo {
        max-width: 255px;
        min-height: 307px;
    }
}

@media screen and (max-width: 651px) {
    .about {
        margin: 0 14px 0;
        padding-top: 70px;
    }

    .about__person {
        margin: 60px auto 0;
        grid-template-areas:
            "photo"
            "name"
            "about"
            "carrer"
            "website";
        gap: 20px;
    }

    .person__name {
        margin: 0;
        font-size: 30px;
        line-height: 36px;
    }

    .person__about {
        margin: 0;
        font-size: 11px;
        line-height: 16px;
    }

    .person__carrer {
        margin: 0;
        font-size: 11px;
        line-height: 16px;
    }

    .person__photo {
        justify-self: center;
        min-width: 100%;
        margin: 0 0 20px;
    }

    .person__website {
        margin: 20px 0 0;
    }
}