.notfound {
    color: white;
    margin: auto;
    text-align: center;
    margin: 35vh auto 35vh;
}

.notfound__title {
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.notfound__subtitle {
    margin: 5px 0 164px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.notfound__link {
    margin: auto;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(66, 133, 244, 1);
}